<?xml version="1.0" encoding="utf-8"?>
<Content Key="2397c299-1985-4aca-a60c-ce77df802c05" Alias="Forgotpassword" Level="2">
  <Info>
    <Parent Key="87bf05de-1cda-44d9-b855-f39e70f748b7">Home</Parent>
    <Path>/Home/Forgotpassword</Path>
    <Trashed>false</Trashed>
    <ContentType>forgotPasswordPage</ContentType>
    <CreateDate>2026-04-21T12:08:10</CreateDate>
    <NodeName Default="Forgotpassword" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019dafb4-3009-7245-b826-b2159b5204c1">ForgotPasswordPage</Template>
  </Info>
  <Properties />
</Content>