<?xml version="1.0" encoding="utf-8"?>
<Content Key="27bc193f-db1c-4ac8-bcb4-dcdaf03801f4" Alias="Login" Level="2">
  <Info>
    <Parent Key="87bf05de-1cda-44d9-b855-f39e70f748b7">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <CreateDate>2026-04-17T09:02:19</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d9aa9-0f95-7a00-94e4-f6951c5d377f">LoginPage</Template>
  </Info>
  <Properties />
</Content>