<?xml version="1.0" encoding="utf-8"?>
<Content Key="0aede99d-aee6-4944-9a63-2a72cb8d7ab0" Alias="Register" Level="2">
  <Info>
    <Parent Key="87bf05de-1cda-44d9-b855-f39e70f748b7">Home</Parent>
    <Path>/Home/Register</Path>
    <Trashed>false</Trashed>
    <ContentType>registerPage</ContentType>
    <CreateDate>2026-04-17T09:01:44</CreateDate>
    <NodeName Default="Register" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d9aa7-a320-7ebc-ae45-c9aa39762214">RegisterPage</Template>
  </Info>
  <Properties />
</Content>