<?xml version="1.0" encoding="utf-8"?>
<Content Key="93e88baf-8cd4-49fa-8801-223d9a342114" Alias="ResetPassword" Level="2">
  <Info>
    <Parent Key="87bf05de-1cda-44d9-b855-f39e70f748b7">Home</Parent>
    <Path>/Home/ResetPassword</Path>
    <Trashed>false</Trashed>
    <ContentType>resetPasswordPage</ContentType>
    <CreateDate>2026-04-21T12:08:44</CreateDate>
    <NodeName Default="ResetPassword" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019dafb4-9493-7452-b003-0b9a29e579ce">ResetPasswordPage</Template>
  </Info>
  <Properties />
</Content>