@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer class="site-footer">
    <p>&copy; @DateTime.Now.Year - @(Model?.Value("siteTitle")?.ToString() ?? "My Umbraco Site") - All rights reserved.</p>
</footer>