<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0ecdf80c-88cb-4141-abd0-7cb856de1831" Alias="forgotPasswordPage" Level="1">
  <Info>
    <Name>Forgot Password Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ForgotPasswordPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019dafb4-3009-7245-b826-b2159b5204c1">ForgotPasswordPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>