<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4bf9f0cd-7ab4-4f83-b227-ebb1a57142a4" Alias="registerPage" Level="1">
  <Info>
    <Name>Register Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>RegisterPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019d9aa7-a320-7ebc-ae45-c9aa39762214">RegisterPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>