<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dfc0ebbd-a830-438d-9ffa-49a1418779f6" Alias="resetPasswordPage" Level="1">
  <Info>
    <Name>Reset Password Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ResetPasswordPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019dafb4-9493-7452-b003-0b9a29e579ce">ResetPasswordPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>