<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d0c08e1-a8f0-42a2-9e04-211cafdde2d7" Alias="student - Email - Email" Level="1">
  <Info>
    <Name>student - Email - Email</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>